@model HomeViewModel

@{
    ViewData["Title"] = "Alanında Lider Kozmetik Markaları";
    Layout = "_Layout";
}




<main class="main-content">
    <!--== Start Page Header Area Wrapper ==-->
    <section class="page-header-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-7 col-xl-5">
                    <div class="page-header-content">
                        <font size="18">Kozmetik</font>
                        <h3>Türkiye'nin En Büyük Kozmetik Mağazası </h3>
                        <p class="page-header-desc">
                            Güzellik ve sağlık için yapılan yenilikler insanlara mutluluk verir. Bunu biliyoruz ve sizi aradığınız tüm kişisel bakım ve sağlık ürünleri için mağaza mağaza dolaşmaktan kurtarıyoruz. Artık tek bir mağazadan üstelik evinizin rahatlığında aradığınız her şeyi uygun fiyata bulmanız Kozmetik ile mümkün.
                        </p>

                    </div>
                </div>
                <div class="col-md-5 col-lg-5 col-xl-7">
                    <div class="page-header-thumb">
                        <img src="~/clientt/assets/images/photos/about0.jpg" width="590" height="680" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Page Header Area Wrapper ==-->
    <!--== Start Funfact Area Wrapper ==-->
    <section class="funfact-area section-space">
        <div class="container">
            <div class="row mb-n6">
                <div class="col-sm-6 col-lg-4 mb-6">
                    <!--== Start Funfact Item ==-->
                    <div class="funfact-item">
                        <div class="icon">
                            <img src="~/clientt/assets/images/icons/funfact1.webp" width="110" height="110" alt="Icon">
                        </div>
                        <h2 class="funfact-number">5000+</h2>
                        <h6 class="funfact-title">Ziyaretçi</h6>
                    </div>
                    <!--== End Funfact Item ==-->
                </div>
                <div class="col-sm-6 col-lg-4 mb-6">
                    <!--== Start Funfact Item ==-->
                    <div class="funfact-item">
                        <div class="icon">
                            <img src="~/clientt/assets/images/icons/funfact2.webp" width="110" height="110" alt="Icon">
                        </div>
                        <h2 class="funfact-number">250+</h2>
                        <h6 class="funfact-title">Proje</h6>
                    </div>
                    <!--== End Funfact Item ==-->
                </div>
                <div class="col-sm-6 col-lg-4 mb-6">
                    <!--== Start Funfact Item ==-->
                    <div class="funfact-item">
                        <div class="icon">
                            <img src="~/clientt/assets/images/icons/funfact3.webp" width="110" height="110" alt="Icon">
                        </div>
                        <h2 class="funfact-number">1.5M+</h2>
                        <h6 class="funfact-title">Kazanç</h6>
                    </div>
                    <!--== End Funfact Item ==-->
                </div>
            </div>
        </div>
    </section>
    <!--== End Funfact Area Wrapper ==-->
    <!--== Start Brand Logo Area Wrapper ==-->
    <div class="section-space">
        <div class="container">
            <div class="swiper brand-logo-slider-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide brand-logo-item">
                        <!--== Start Brand Logo Item ==-->
                        <img src="~/clientt/assets/images/brand-logo/images.jpg" width="180" height="110" alt="Image-HasTech">
                        <!--== End Brand Logo Item ==-->
                    </div>
                    <div class="swiper-slide brand-logo-item">
                        <!--== Start Brand Logo Item ==-->
                        <img src="~/clientt/assets/images/brand-logo/ruj2.jpg" width="120" height="110" alt="Image-HasTech">
                        <!--== End Brand Logo Item ==-->
                    </div>

                    <div class="swiper-slide brand-logo-item">
                        <!--== Start Brand Logo Item ==-->
                        <img src="~/clientt/assets/images/brand-logo/yuzyıkama.jpg" width="180" height="110" alt="Image-HasTech">
                        <!--== End Brand Logo Item ==-->
                    </div>
                    <div class="swiper-slide brand-logo-item">
                        <!--== Start Brand Logo Item ==-->
                        <img src="~/clientt/assets/images/brand-logo/oje.jpg" width="120" height="110" alt="Image-HasTech">
                        <!--== End Brand Logo Item ==-->
                    </div><div class="swiper-slide brand-logo-item">
                        <!--== Start Brand Logo Item ==-->
                        <img src="~/clientt/assets/images/brand-logo/rimmel2.jpg" width="180" height="110" alt="Image-HasTech">
                        <!--== End Brand Logo Item ==-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Brand Logo Area Wrapper ==-->
    <!--== Start About Area Wrapper ==-->
    <section class="section-space pt-0 mb-n1">
        <div class="container">
            <div class="about-thumb">
                <img src="~/clientt/assets/images/photos/aboutAlt.jpg" alt="Image">
            </div>
            <div class="about-content">
                <h2 class="title">Geniş Ürün Yelpazesi</h2>
                <p class="desc">
                    İhtiyacınız olan tüm dermokozmetik ve kozmetik ürünler bir tıkla kapınıza gelsin!
                </p>
            </div>
        </div>
    </section>
    <!--== End About Area Wrapper ==-->

    <!--== Start Feature Area Wrapper ==-->
    <div class="feature-area section-space">
        <div class="container">
            <div class="row mb-n9">
                <div class="col-md-6 col-lg-4 mb-8">
                    <!--== Start Feature Item ==-->
                    <div class="feature-item">
                        <h5 class="title"><img class="icon" src="~/clientt/assets/images/icons/feature1.webp" width="60" height="60" alt="Icon"> Destek</h5>
                        <p class="desc">7/24 aktif olan çağrı merkezimiz ile müşterilerimize bir telefon kadar yakınız.</p>
                        <p>Çağrı Merkezi: 0216 000 0000</p>
                    </div>
                    <!--== End Feature Item ==-->
                </div>
                <div class="col-md-6 col-lg-4 mb-8">
                    <!--== Start Feature Item ==-->
                    <div class="feature-item">
                        <h5 class="title"><img class="icon" src="~/clientt/assets/images/icons/feature2.webp" width="60" height="60" alt="Icon"> Taahhütlerimiz</h5>
                        <p class="desc">%100 Orijinal Ürün Güvencesi</p>
                        <p>Son Kullanma Tarihi Garantisi</p>
                        <p>Hızlı Gönderim Avantajı</p>
                        <p>%100 Müşteri Memnuniyeti</p>
                    </div>
                    <!--== End Feature Item ==-->
                </div>
                <div class="col-md-6 col-lg-4 mb-8">
                    <!--== Start Feature Item ==-->
                    <div class="feature-item">
                        <h5 class="title"><img class="icon" src="~/clientt/assets/images/icons/feature3.webp" width="60" height="60" alt="Icon"> Doğal Ürünler</h5>
                        <p class="desc">En doğal ürünlerimizi sizlere sunuyoruz!</p>
                    </div>
                    <!--== End Feature Item ==-->
                </div>
            </div>
        </div>
    </div>
    <!--== End Feature Area Wrapper ==-->

</main>

