
@{
    ViewData["Title"] = "SayfaBulunamadi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content">
    <!--== Start Faq Area Wrapper ==-->
    <section class="page-not-found-area">
        <div class="container">
            <div class="page-not-found">
                <img src="~/clientt/assets/images/photos/page-not-found.webp" width="975" height="538" alt="Image">
                <h3 class="title">Hay Aksi! Bir problem oldu. Lütfen tekrar deneyin.</h3>
                <h5 class="back-btn"><a href="/home/index">ANASAYFA</a> 'ya dönmek için.'</h5>
            </div>
        </div>
    </section>
    <!--== End Faq Area Wrapper ==-->
</main>

